/* =========== VARIABLES ========== */
$grey: #bdbdbd;
$yellow: #ff8900;
$blue: #086fa1;
$red: #a31010;
//$bodyGrey: #7d7d7d;
$bodyGrey: #3d3d3d;
$main: futura;
$body: helvetica, arial, sans-serif;


/* =========== ELEMENTS ========== */

body {
	width: 100%;
	margin: auto;
	font: helvetica, arial, sans-serif;
	color: $bodyGrey;
}

h1 {
	font-family: $main;
	display: inline-block;
	a {
		color: inherit;
		&:hover {border-bottom: 5px solid; }
	}
}

h2 {
	font-family: $main;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	color: inherit;
}

a {
	text-decoration: none;
	&:hover {border-bottom: 3px solid; }
}

p {
	font-family: $body;
	text-align: center;
}

table {
	width: 100%;
	max-width: 1000px;
}


/* =========== CLASSES ========== */

.wrapper {
	max-width: 1000px;
	background-color: white;
	margin: auto;
}

.header {
	img {
		width: 100%;
		height: auto;
	}
}

.footer {
	img {
		width: 100%;
		height: auto;
	}

	margin-bottom: 60px;
}

.navbar {
	width: 100%;
//	opacity: 0.5;
	position: fixed;
	background: white;
	bottom: 0px;
	font-size: 200%;
	text-align: center;
	margin: none;;
	padding: none;
	border: none;
	table {

	}
		td {
		width: 25%;
		text-align: center;
		border: 1px solid;
	}

	p {
		margin: none;
		padding: none;
		border: none;
	}
}

.sub-container {
	float: left;
	width: 100%;
	max-width: 1000px;
	border-color: inherit;
	border-top: 5px solid;
//	border-bottom: 5px solid;
	padding: 0px;
	margin-bottom: 15px;
	font: inherit;
	text-align: center;
}

@mixin hundo {
	margin: 0.5%;
	padding: none;
	border: none;
	width: 99%;
	max-width: 1000px;
}

@mixin halves {
	margin: 0.5%;
	padding: none;
	border: none;
	width: 49%;
	max-width: 500px;
}

@mixin thirds {
	margin: 0.5%;
	padding: none;
	border: none;
	width: 32%;
	max-width: 330px;
}

@mixin fourths {
	float: left;
	margin-bottom: 0.5%;
	margin-top: 0.5%;
	padding: none;
	border: none;
	width: 25%;
	max-width: 250px;
	background-color: white;
}

.navbar-item {
	@include fourths;
	text-align: center;
}

.left {
	float: left;
	@include thirds;
}

.right {
	float: right;
	@include thirds;
}

.half {
	float: left;
	@include halves;
}

.whole {
	float: left;
	@include hundo;
}



#index {
	border-color: $grey;
	a {
		color: $grey;
	}

	h2 {
		color: $grey;
	}
}

#info {
	border-color: $yellow;
	a {
		color: $yellow;
	}

	h2 {
		color: $yellow;
	}
}

#blog {
	border-color: $blue;

	a {
	color: $blue;
	}

	h2 {
	color: $blue;
	text-transform: uppercase
	}
}

#listen {
	border-color: $red;

	a {
		color: $red;
	}

	h2 {
		color: $red;
	}
}



.grey {
	border-color: $grey;
	a {
		color: $grey;
	}
}

.yellow {
	border-color: $yellow;
	a {
		color: $yellow;
	}
}

.blue {
	border-color: $blue;
	color: $blue;
	a {
		color: $blue;
	}
}

.red {
	border-color: $red;
	a {
		color: $red
	}
}

.bodyGrey {
	border-color: $bodyGrey;
	a {
	color: $bodyGrey	
	}
}



