/* =========== VARIABLES ========== */
$grey: #bdbdbd;
$yellow: #ff8900;
$blue: #086fa1;
$red: #a31010;
//$bodyGrey: #7d7d7d;
$bodyGrey: #3d3d3d;
$main: futura;
$body: helvetica, arial, sans-serif;


/* =========== ELEMENTS ========== */

body {
	width: 100%;
	margin: auto;
	font: helvetica, arial, sans-serif;
	color: $bodyGrey;
}

h1 {
	font-family: $main;
	display: inline-block;
	a {
		color: inherit;
		&:hover {border-bottom: 5px solid; }
	}
}

h2 {
	font-family: $main;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	color: inherit;
	line-height: 130%;
}

a {
	text-decoration: none;

	&:hover {border-bottom: 3px solid; }
}

p {
	font-family: $body;
	text-align: center;
	line-height: 130%;
}


.head {
	font-family: $main;
//	font-variant: small-caps;
	text-transform: uppercase;
	color: $bodyGrey;
	text-align: center;
}

table {
	width: 100%;
	max-width: 1000px;
	height: auto;
}

th {
	font-family: $main;
	text-align: center;
	width: 13%;
}

td, th {
	border-bottom: 2px solid $yellow;
	border-spacing: 5;
	border-collapse: 0;
	padding: 3px;

	a {
		text-transform: uppercase;
	}
}

ul {
	line-height: 130%;
	list-style-type: none;
	margin: none;
	padding: none;
	text-align: center;
}

li {
	display: inline;
}


/* =========== CLASSES ========== */

.wrapper {
	max-width: 1000px;
	background-color: white;
	margin: auto;
}

.header {
	img {
		width: 100%;
		height: auto;
	}
	margin-bottom: 10px;
}

.footer {
	img {
		width: 100%;
		height: auto;
	}
	margin-bottom: 70px;
}

.desktop {	
}

.mobile {	
}

.active {
	display: block;
}

.inactive {
	display: none;
}

.navbar {
	width: 100%;
	max-width: 1000px;
//	opacity: 0.5;
	position: fixed;
	background: white;
	bottom: 0px;
	font-size: 200%;
	text-align: center;
	margin: none;
	padding: none;
	border: none;
	z-index: 100;
	table {

	}
		td {
		width: 25%;
		text-align: center;
		border: 1px solid;
	}

	p {
		margin: none;
		padding: none;
		border: none;
	}
}

.sub-container {
	float: left;
	width: 100%;
	max-width: 1000px;
	border-color: inherit;
	border-top: 5px solid;
//	border-bottom: 5px solid;
	padding: 0px;
	margin-bottom: 15px;
	font: inherit;
	text-align: center;
}

@mixin hundo {
	margin: 0.5%;
	padding: none;
	border: none;
	width: 99%;
	max-width: 1000px;
}

@mixin halves {
	margin: 0.5%;
	padding: none;
	border: none;
	width: 49%;
	max-width: 500px;
}

@mixin thirds {
	margin: 0.5%;
	padding: none;
	border: none;
	width: 32%;
	max-width: 330px;
}

@mixin fourths {
	float: left;
	margin-bottom: 0.5%;
	margin-top: 0.5%;
	padding: none;
	border: none;
	width: 25%;
	max-width: 250px;
	background-color: white;
}

.navbar-item {
	@include fourths;
	text-align: center;
}

.left {
	float: left;
	@include thirds;
	img {
		width: 100%;
		height: auto;
	}
}

.right {
	float: right;
	@include thirds;
}

.half {
	float: left;
	@include halves;
}

.whole {
	float: left;
	@include hundo;
}

.selector {
	img {
		height: 20px;
		width: auto;
		padding: none;
		margin: none;
		border: none;

		&:hover {cursor: pointer;
				//border-bottom: 3px solid; 
				}

	}

	span {
		&:hover {border-bottom: 3px solid;}
	}
	color: $blue;
	font-size: 80px;
	margin: none;
	padding: none;
}

.cycle-slideshow {
	z-index: 50;
	overflow: scroll;
}

.cycle-prev {
	//&:hover {transition: 0.2s;
			//border-color: #B8E6FC;}
}

.cycle-next {
	//&:hover {transition: 0.2s;
			//border-color: #B8E6FC;}
}

.slide-wrapper {
	overflow: scroll;
}

.blog_item {
	max-height: 450px;
	overflow: scroll;
}

img.tooltip {
	display: inline;
	max-width: 50px;
	height: auto;
}

div.tooltip {
	text-align: center;
}

.post_tag {
	font-family: $main;
	text-transform: uppercase;
	font-size: 10px;
	text-align: center;
	display: inline;
}

#contacts {
	//height: 250px;
}

.contact-slides {
	min-height: 148px;
}

.pinned {
    position: fixed;
    top: 0;
    background: white;
    border-top: 5px solid;
    opacity: 1;
    z-index: 99; 
}



#index {
	border-color: $grey;
	a {
		color: $grey;
	}

	h2 {
		color: $grey;
	}
}

#info {
	border-color: $yellow;
	a {
		color: $yellow;
	}

	h2 {
		color: $yellow;
	}
}

#blog {
	border-color: $blue;

	a {
	color: $blue;
	}

	h2 {
	color: $blue;
	text-transform: uppercase
	}

	/*img {
	width: 78%;
	max-width: 250px;
	height: auto;
	}*/
}

#listen {
	border-color: $red;

	a {
		color: $red;
	}

	h2 {
		color: $red;
	}
}



.grey {
	border-color: $grey;
	a {
		color: $grey;
	}
}

.yellow {
	border-color: $yellow;
	a {
		color: $yellow;
	}
}

.blue {
	border-color: $blue;
	color: $blue;
	a {
		color: $blue;
	}
}

.red {
	border-color: $red;
	a {
		color: $red
	}
}

.bodyGrey {
	border-color: $bodyGrey;
	a {
	color: $bodyGrey	
	}
}




