body {
	width: 1000px;
	margin: auto;
	background-color: white;
}

h1 { 
	font-family: futura;
	font-size: 1500%;
}

h2 {
	font-size: 200%;
} 

h3 {

}

.grey {
	color, border-color: #bdbdbd;
}

.yellow {
	color, border-color: #ff8900;
}

.blue {
	color, border-color: #086fa1;
}

.red {
	color, border-color: #a31010;
}

.bodyG {
	color: #7d7d7d;
}

.sub {
	border-top, border-bottom: 5px solid;
	border-color: inherit;
	padding:30px	
	overflow:auto;	
}

table {
	text-align:center;
	font-family:futura;
	width:100%;
}

th {
	width:25%;
	word-wrap:break-word;
}

ul {
	list-style-type:none;
	width:30%;
	margin:1%;
	float:left;
	padding:5px;
	text-align:center;
}

li.def {
	font-family:futura;
	text-align: center;	
}

a:link {
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}